extends layout

block content
  h1= title
  p Welcome to #{title}
  p Number of rows #{query.rows} and columns #{query.cols}
  - var rows = Number(query.rows)
  - var col = Number(query.cols)
  console.log(rows)